

.node {
  width: 25px;
  height: 25px;
  margin-top: -1px;
  margin-bottom: -4px;
  margin-right: -1px;
  background-color: white;
  border: 1px solid rgb(164, 164, 160);
  display: inline-block;
}

.node-finish {
  background-color: red;
}



.node-start {
  background-color: green;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-color: white;
}

.node-mazecr {
  animation-name: wallCreation;
  animation-duration: 0.0001s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-color: white;
  border: 1px solid rgb(12, 53, 71);
}

@keyframes wallCreation {
  -webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
-o-transform: translateZ(0);
transform: translateZ(0);
  0% {
    transform: scale(0.5);
    background-color: rgb(12, 53, 71);
    border-radius: 100%;
  }

  25% {
    transform: scale(0.8);
  background-color: rgb(12, 53, 71);
  }

  50% {
  background-color: rgb(12, 53, 71);
  }

  75% {
    transform: scale(1.1);
    background-color: rgb(12, 53, 71);
  }

  100% {
    transform: scale(1);
    background-color: rgb(12, 53, 71);
  }
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(230, 184, 0, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(255, 209, 26, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(255, 255, 0, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(255, 255, 26, 0.75);
  }
}

.node-wall {
  animation-name: wallCreation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-color: rgb(12, 53, 71);
  border: 1px solid rgb(12, 53, 71);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgba(17, 104, 217, 0.75);
    border-radius: 100%;
  }

  33% {
    transform: scale(0.8);
    background-color: rgba(0, 217, 18, 0.795);
  }

  66% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-initial-mark {
  animation-name: tform;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-final-mark {
  animation-name: tformf;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes tform {
  0% {
    transform: scale(0.6);
    background-color: green;
    border-radius: 100%;
  }

  33% {
    transform: scale(0.8);
    background-color: green;
  }

  66% {
    transform: scale(1.2);
    background-color: green;
  }

  100% {
    transform: scale(1);
    background-color: green;
  }
}

@keyframes tformf {
  0% {
    transform: scale(0.6);
    background-color: red;
    border-radius: 100%;
  }

  33% {
    transform: scale(0.8);
    background-color: red;
  }

  66% {
    transform: scale(1.2);
    background-color: red;
  }

  100% {
    transform: scale(1);
    background-color: red;
  }
}