body {
  background-color: #eeecec;
}

.grid {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 35px;
  background-color: #ffffff;
  border: 6px solid rgb(12, 53, 71);
  box-shadow: 5px 10px 10px #888888;
}
select {
  width: 170px;
  margin: 4px;
  margin-top: 20px;
  margin-bottom: -120px;
}

#btn1 {
  width: 200px;
  margin-left: 10px;
  background-color: #ffbf00;
  border: 2px solid rgb(12, 53, 71);
  margin-top: 20px;
}

#btn2 {
  width: 200px;
  margin-left: 10px;
  background-color: #ffbf00;
  border: 2px solid rgb(12, 53, 71);
  margin-top: 20px;
}
#btn3 {
  width: 200px;
  margin-left: 10px;
  background-color: #ffbf00;
  border: 2px solid rgb(12, 53, 71);
  margin-top: 20px;
}
#btn4 {
  width: 220px;
  margin-left: 10px;
  background-color: #ffbf00;
  border: 2px solid rgb(12, 53, 71);
  margin-top: 20px;
}
#btn5 {
  width: 200px;
  margin-left: 10px;
  background-color: #ffbf00;
  border: 2px solid rgb(12, 53, 71);
  margin-top: 20px;
}
